[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]

[dev-packages]
django = "*"
pillow = "*"
django-braces = "*"
django-embed-video = "*"
python3-memcached = "*"
django-memcache-status = "*"
djangorestframework = "*"
channels = "*"
daphne = "*"

[requires]
python_version = "3.9"
